In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

df=pd.read_csv('carprices.csv')

In [2]:
df

                Car Model  Mileage  Sell Price($)  Age(yrs)
0                  BMW X5    69000          18000         6
1                  BMW X5    35000          34000         3
2                  BMW X5    57000          26100         5
3                  BMW X5    22500          40000         2
4                  BMW X5    46000          31500         4
5                 Audi A5    59000          29400         5
6                 Audi A5    52000          32000         5
7                 Audi A5    72000          19300         6
8                 Audi A5    91000          12000         8
9   Mercedez Benz C class    67000          22000         6
10  Mercedez Benz C class    83000          20000         7
11  Mercedez Benz C class    79000          21000         7
12  Mercedez Benz C class    59000          33000         5

In [3]:
dummy=pd.get_dummies(df['Car Model'])

In [4]:
newdf=pd.concat([df,dummy],axis="columns")

In [5]:
newdf.drop(['Car Model','Mercedez Benz C class'],axis='columns',inplace=True)

In [6]:
newdf

    Mileage  Sell Price($)  Age(yrs)  Audi A5  BMW X5
0     69000          18000         6    False    True
1     35000          34000         3    False    True
2     57000          26100         5    False    True
3     22500          40000         2    False    True
4     46000          31500         4    False    True
5     59000          29400         5     True   False
6     52000          32000         5     True   False
7     72000          19300         6     True   False
8     91000          12000         8     True   False
9     67000          22000         6    False   False
10    83000          20000         7    False   False
11    79000          21000         7    False   False
12    59000          33000         5    False   False

In [7]:
x=newdf.drop('Sell Price($)',axis='columns')
y=newdf['Sell Price($)']

In [8]:
clf=LinearRegression()

In [9]:
clf.fit(x,y)

LinearRegression()

In [10]:
clf.predict([[80000,0,1,0]])

C:\Users\ranje\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([26913.31768021])