In [1]:
import pandas as pd
df=pd.read_csv('salaries.csv')

In [2]:
df

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [3]:
input=df.drop('salary_more_then_100k',axis='columns')

In [4]:
target=df['salary_more_then_100k']

In [5]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [6]:
input['company']=le.fit_transform(input['company'])
input['job']=le.fit_transform(input['job'])
input['degree']=le.fit_transform(input['degree'])

In [7]:
input

    company  job  degree
0         2    2       0
1         2    2       1
2         2    0       0
3         2    0       1
4         2    1       0
5         2    1       1
6         0    2       1
7         0    1       0
8         0    0       0
9         0    0       1
10        1    2       0
11        1    2       1
12        1    0       0
13        1    0       1
14        1    1       0
15        1    1       1

In [9]:
from sklearn import tree
clf=tree.DecisionTreeClassifier()

In [10]:
clf.fit(input,target)

DecisionTreeClassifier()

In [12]:
clf.score(input,target)

1.0

In [17]:
clf.predict([[2,0,1]])

C:\Users\ranje\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)